  /** Layout **/
  
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  
  .navbar {
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    max-width: 955px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    left: 0;
    right: 0;
    background-color: $light-navbar-background-color;
    position: fixed;
    top: 0;
    transition: top 0.3s; 
    z-index: 99;
    
    .dark-theme & {
      background-color: $dark-navbar-background-color;
    }
    .container {
      width: auto;
      max-width: 780px;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; 
    }
  }
  
  .main {
    flex: 1 0 auto;
  }
  
  .footer {
    height: 4rem;
    width: 100%;
    text-align: center;
    line-height: 4rem;
    padding-top: 2em;
  }
  
  
  .notfound {
    font-size: 2em;
    transform: translateY(35vh);
    text-align: center;
  }