@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar {
    display: none;
  }

  .post-comment {
    margin: 2rem 0;
    padding: 2rem 0;
    border-radius: 0;
  }

  .navbar-mobile {
    display: block !important;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.6s ease 0s;
    .container {
      padding: 0;
      margin: 0;
      line-height: 5.5em;
      background: $light-background-color;

      .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        box-sizing: border-box;

        .menu-toggle {
          cursor: pointer;
          line-height: 5.5em;

          span {
            display: block;
            background: #000;
            width: 36px;
            height: 2px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-transition: 0.25s margin 0.25s, 0.25s transform;
            -moz-transition: 0.25s margin 0.25s, 0.25s transform;
            transition: 0.25s margin 0.25s, 0.25s transform;

            .dark-theme & {
              background: $dark-font-color;
            }
          }

          span:nth-child(1) {
            margin-bottom: 8px;
          }
          span:nth-child(3) {
            margin-top: 8px;
          }

          &.active {
            span {
              -webkit-transition: 0.25s margin, 0.25s transform 0.25s;
              -moz-transition: 0.25s margin, 0.25s transform 0.25s;
              transition: 0.25s margin, 0.25s transform 0.25s;
            }
            span:nth-child(1) {
              -moz-transform: rotate(45deg) translate(4px, 6px);
              -ms-transform: rotate(45deg) translate(4px, 6px);
              -webkit-transform: rotate(45deg) translate(4px, 6px);
              transform: rotate(45deg) translate(4px, 6px);
            }

            span:nth-child(2) {
              opacity: 0;
            }

            span:nth-child(3) {
              -moz-transform: rotate(-45deg) translate(8px, -10px);
              -ms-transform: rotate(-45deg) translate(8px, -10px);
              -webkit-transform: rotate(-45deg) translate(8px, -10px);
              transform: rotate(-45deg) translate(8px, -10px);
            }
          }
        }
      }

      .menu {
        text-align: center;
        background: #ffffff;
        border-top: 1px solid $light-font-color;
        padding-top: 1em;
        padding-bottom: 1em;
        display: none;
        box-shadow: 0 6px 9px -3px rgba(0, 0, 0, 0.1);
        a {
          display: block;
          line-height: 2.5em;
        }

        &.active {
          display: block;
        }

        .dark-theme & {
          background: $dark-background-color;
          border-top: 1px solid $dark-font-color;
        }
      }
      .dark-theme & {
        background: $dark-background-color !important;
      }
    }
  }

  #dynamic-to-top {
    display: none !important;
  }
  .footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
    padding-top: 0;
  }

  .post-warp {
    margin: 0 auto;
    margin-top: 6rem;
    padding: 2rem 0;
    border-radius: 0;
    .page-title {
      padding-left: 15px;
    }
    .post-year {
      margin-left: 1em;
    }
    .archive-item {
      padding-left: 1.2em;
    }
    .archive-item-date {
      display: none;
    }
    .categories-card {
      .card-item {
        width: 95%;
      }
    }
  }

  .post-header,
  .post-content,
  .post-copyright,
  .post-tags {
    margin: 1em;
  }

  .grid.item {
    a {
      flex-direction: row !important;
      justify-content: left !important;
    }
    h2 {
      margin-left: 10px;
    }
  }
}

// Lain2
@media only screen and (max-device-width: 767px) {
  .grid.item {
    a {
      flex-direction: row !important;
      justify-content: left !important;
    }
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .grid.item {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .navbar .container {
    width: auto;
    max-width: 740px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .post-header,
  .post-content,
  .post-copyright,
  .post-tags {
    margin-left: 1em;
    margin-right: 1em;
  }

  .post-warp, .post-comment {
    padding: 2rem 0 2rem 0;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  .navbar-mobile {
    display: none;
  }

  .grid.item {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-bottom: 10px;
    h2 {
      text-align: center;
    }
    img {
      margin-bottom: 10px;
    }
  }
}

/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
  /* Styles */
}
