{{ define "content" }}
{{ $data := .Data }}
<div class="post-warp archive">
    <h2 class="page-title">{{ .Title }}</h2>
    {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
    <h3 class="post-year">{{ .Key }}</h3>
    {{ range .Pages }}
    <article class="archive-item">
        <a href="{{ .Permalink }}" class="archive-item-link hvr-underline-from-center">{{ .Title }}</a>
        <span class="archive-item-date">
            {{ .Date.Format "2 Jan 2006" }}
        </span>
    </article>
    {{ end }}
    {{ end }}
    {{ partial "paginator.html" . }}
</div>
{{end }}