{{ define "content" -}}
{{ $cdn_url := .Scratch.Get "cdn_url" }}
<article class="post-warp" itemscope itemtype="http://schema.org/Article">
    <header class="post-header">
        <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
    </header>
    <div class="post-content">
        <!--featured_image-->

        {{ $images := findRE "<img src=\"[^\"|\\\"]*\"" .Content -}}
        {{ if ge (len $images) 1}}
            {{ $.Scratch.Set "postHasImages" true }}
        {{ end }}

        {{ with .Params.featured_image }}
          {{- $img := . -}}
          <img src="{{ printf "%s%s" $cdn_url $img }}" class="featured_image">
        {{ end }}
        <!-- end featured_image-->
     
          {{ $reAltIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" />" }}
          {{ $reAltOut :=  ( printf "<figure><img src=\"/images/ring.svg\" data-sizes=\"auto\" data-src=\"%s$1\" alt=\"$2\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $altContent := .Content | replaceRE $reAltIn $reAltOut | safeHTML }}

          {{ $reAltTitleIn := "<img src=\"([^\"]+)\" alt=\"([^\"]+)?\" title=\"([^\"]+)?\" />" }}
          {{ $reAltTitleOut := ( printf "<figure><img src=\"/images/ring.svg\" data-src=\"%s$1\" data-sizes=\"auto\" alt=\"$2\" title=\"$3\" class=\"lazyload\"><figcaption class=\"image-caption\">$2</figcaption></figure>" $cdn_url ) }}
          {{ $finalContent := $altContent | replaceRE $reAltTitleIn $reAltTitleOut | safeHTML }}

          {{ $finalContent }}
    </div>

    <div class="post-copyright">
            <p class="copyright-item">
                <span>Terbit: </span>
                <span>{{ .Date.Format "2 Jan 2006" }} </span>
            </p>

            {{ with .Site.Params.license }} 
            <p class="copyright-item">
                Lisensi: <b>{{ . | safeHTML}}</b>
            </p>
            {{ end }}
            
            {{ with .Permalink }}
            <p class="copyright-item">
                Link: <a href="{{ . }}">{{ . }}</a>
            </p>
            {{ end }}
    </div>
  
    <div class="post-tags">
        {{ with .Params.tags }}
            <section>
            Tag(s): 
            {{ range . }}
            <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}/">
                    #{{.}}</a></span>
            {{ end }}
            </section>
        {{ end }}
        <section>
                <a href="javascript:window.history.back();">back</a></span> · 
                <span><a href="{{ .Site.BaseURL }}">home</a></span>
        </section>
    </div>
</article>

<div class="post-comment">
    <div id="hyvor-talk-view"></div>
    <script type="text/javascript">
        var HYVOR_TALK_WEBSITE = 1292; // DO NOT CHANGE THIS
        var HYVOR_TALK_CONFIG = {
            url: false,
            id: false
        };
    </script>
    <script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
</div>
{{- end }}
