{{ define "content" }}

{{ $termName := .Data.Plural }}
{{ $terms := .Data.Terms.ByCount }}
{{ $length := len $terms }}
{{ $type := .Type }}
<!-- Categories Page -->
<div class="post-warp {{.Data.Plural}}">
    <h2 class="page-title">{{ .Data.Plural | humanize }}</h2>
 <!-- Tag cloud Page -->
{{if and $.Site.Taxonomies.tags (eq $termName "tags") }}
     <div class="tag-cloud-tags">
          {{ range $.Site.Taxonomies.tags.ByCount }}
            {{ if .Name }}
            <a href="/tags/{{ .Name | urlize}}/"> {{ .Name }} <small>({{ .Count }})</small></a>
            {{ end }}
          {{end}}
     </div>

{{ end }}
</div>
{{end }}