<footer class="footer">
    <div class="copyright">
        &copy;
        {{ with .Site.Params.since }}
        <span itemprop="copyrightYear">{{.}} - {{ now.Year }}</span>
        {{ end }}
         {{ if .Site.Params.author }}
            <span class="author" itemprop="copyrightHolder"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.author  }}</a> | </span> 
         {{ end }}
		  <span>Powered by <a href="https://gohugo.io/" target="_blank" rel="external nofollow noreferrer">Hugo {{ .Site.Hugo.Version }}</a>
    </div>
</footer>

{{ partial "js.html" . }}