{{ $cdn_url := .Scratch.Get "cdn_url" }}
{{ $postHasImages :=  .Scratch.Get "postHasImages"}}
{{ $jquery := resources.Get "/js/jquery.min.js" }}
{{ $lazysizes := resources.Get "/js/lazysizes.min.js"}}
{{ $prettify := resources.Get "/js/prettify.min.js" }}
{{ $dynamic := resources.Get "/js/dynamic.to.top.min.js" }}
{{ $main := resources.Get "/js/main.js" }}
{{ $menuautohide := resources.Get "/js/menuautohide.js" }}
<script src="{{ printf "%s%s" $cdn_url $jquery.RelPermalink }}"></script>
<script defer src="{{ printf "%s%s" $cdn_url $lazysizes.RelPermalink }}" async></script>
<script defer src="{{ printf "%s%s" $cdn_url $main.RelPermalink }}" async></script>
<script defer src="{{ printf "%s%s" $cdn_url $prettify.RelPermalink }}" async></script>
<script defer src="{{ printf "%s%s" $cdn_url $dynamic.RelPermalink }}" async></script>
<script defer src="{{ printf "%s%s" $cdn_url $menuautohide.RelPermalink }}" async></script>
