{{ define "content" }}
{{ $data := .Data }}
<div class="post-warp archive">
    <h2 class="page-title">{{ .Title }}</h2>
    <div class="works">
        Semua yang sudah saya kerjakan akan tampil di sini. </br>
        <div class="grid item">
            {{ range (.Paginate .Pages).Pages }}
            <a href="{{ .Permalink }}">
                <img src="{{ .Site.BaseURL }}{{ .Params.thumbnail }}" />
                <h2>{{ .Title }}</h2>
            </a>
            {{ end }}
        </div>
    </div>
</div>
{{end }}