/** Post **/

.post-warp {
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 6rem auto;
    margin-bottom: 2rem;
    padding: 2rem 6rem 2rem 6rem;
    border-radius: 10px;
    background-color: $light-background-color;

    .dark-theme & {
        background-color: $dark-background-color;
    }

    .post-header h1 {
        margin-bottom: 2rem;
    }

    .post-title {
        font-size: 2em;
        line-height: 1.5em;
    }

    .page-title {
        font-size: 2em;
        line-height: 1.5em;
        margin-bottom: 2rem;
        padding-top: .7em;
    }

    .post-year {
        margin-top: 10px;
    }

    .post-meta {
        color: rgba(85, 85, 85, 0.52941) !important;
        .dark-theme & {
            color: $dark-font-secondary-color !important;
        }

        a {
            color: $light-post-link-color;
            .dark-theme & {
                color: $dark-post-link-color;
            }

            &:hover {
                color: $light-post-link-hover-color;
                .dark-theme & {
                    color: $dark-post-link-hover-color;
                }
            }
        }
    }

    .post-content {
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding-top: .8em;
            padding-bottom: .3em;
        }
        h2::before {
            content: "#";
            margin-right: 5px;
            color: $light-post-link-color;
            .dark-theme & {
                color: $dark-post-link-color;
            }
        }

        h3::before {
            content: "|";
            margin-right: 5px;
            color: $light-post-link-color;

            .dark-theme & {
                color: $dark-post-link-color;
            }
        }

        a {
            color: $light-post-link-color;
            word-break: break-all;
            .dark-theme & {
                color: $dark-post-link-color;
            }
        }

        a:hover {
            color: $light-post-link-hover-color;
            .dark-theme &:hover {
                color: $dark-post-link-hover-color;
                font-weight: bold;
                text-decoration: underline;
            }
        }

        code,
        pre {
            font-size: 13px;
            font-family: Consolas, Monaco, Menlo, Consolas, monospace;
            word-break: break-all;
            word-wrap: break-word;
            border-radius: 10px;
            color: $light-font-color;
            background: $light-background-secondary-color;

            .dark-theme & {
                color: $dark-font-third-color;
                background: $dark-background-secondary-color;
            }
        }

        code:not([class]) {
            padding: 5px 5px;
            border-radius: 5px;
            margin-left: 3px;
            margin-right: 3px;

            .dark-theme &:not([class]) {
                background: $dark-background-secondary-color;
                color: $dark-font-third-color;
            }
        }

        ul {
            padding-left: 2em;
        }

        table {
            max-width: 100%;
            margin: 10px 0;
            border-spacing: 0;
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);

            th,
            td {
                padding: 5px 15px;
                border: 1px double #ebe9f5;
            }
        }

        figure {
            text-align: center;
            img:hover{
                cursor: zoom-in;
            }
        }

        .image-caption:not(:empty) {
            min-width: 20%;
            max-width: 80%;
            display: inline-block;
            padding: 10px;
            margin: 0 auto;
            border-bottom: 1px solid #d9d9d9;
            font-size: 14px;
            color: #969696;
            line-height: 1.7;
        }

        img {
            display: block;
            max-width: 80%;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
        }

     

        img[data-action="zoom"] {
            cursor: zoom-in;
        }

        .featured_image {
            width: 100% !important;
            max-width: 100% !important;
            height: auto !important;
            margin: 0 !important;
        }
    }

    p {
        font-size: 1em;
        margin: .5em 0 .5em 0;
    }

    .post-copyright {
        margin-top: 5rem;
        border-top: 1px solid $light-border-color;
        border-bottom: 1px solid $light-border-color;

        .copyright-item {
            margin: 5px 0;
        }

        .dark-theme & {
            border-top: 1px solid $dark-border-color;
            border-bottom: 1px solid $dark-border-color;
        }
    }

    .post-tags {
        padding: 1rem 0 1rem;
        display: flex;
        justify-content: space-between;

    }


    .post-nav {

        &:before,
        &:after {
            content: " ";
            display: table;
        }

        & a.prev,
        & a.next {
            font-weight: 600;
            font-size: 16px;

            transition-property: transform;
            transition-timing-function: ease-out;
            transition-duration: 0.3s;
        }

        & a.prev {
            float: left;
        }

        & a.prev:hover {
            transform: translateX(-4px);
        }

        & a.next {
            float: right;
        }
        & a.next:hover {
            transform: translateX(4px);
        }
    }

    .tag:not(:last-child) a::after {
        content: " / ";
    }
}

  .post-comment{
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 2rem 6rem 2rem 6rem;
    border-radius: 10px;
    background-color: $light-background-color;

    .dark-theme & {
        background-color: $dark-background-color;
    }
  }