.post-warp {
  .works {
    .grid {
      display: grid;
      align-items: stretch;
      a {
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        padding: 1.5rem;
        border-radius: 0.3rem;
        box-shadow: 0 3px 13px rgba(100, 110, 140, 0.1),
          0 2px 4px rgba(100, 110, 140, 0.15);
        border-bottom: none;
        flex-direction: column;
        justify-content: center;
      }
      img {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 50px;
        height: 50px;
      }

    }
    .grid.item {
      grid-gap: 1.5rem;
      grid-auto-rows: 1fr;
      margin-top: 3rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .categories-card {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2.5em;
    line-height: 1.6em;

    .card-item {
      font-size: 14px;
      text-align: left;
      width: 45%;
      display: flex;
      align-items: flex-start;
      margin-top: 2em;
      min-height: 16em;
      padding: 0 2%;
      position: relative;

      .categories {
        overflow: hidden;
      }
    }
  }

  .archive-item-link {
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    &:hover {
      color: $light-global-link-hover-color;
      background-color: transparent;
    }

    .dark-theme & {
      color: $dark-global-link-color;
      text-decoration: none;
      transition: color 0.2s ease, border-color 0.2s ease, background 0.2s ease,
        opacity 0.2s ease;

      &:hover {
        color: $dark-global-link-hover-color;
        text-decoration: none;
        transition: color 0.2s ease, border-color 0.2s ease,
          background 0.2s ease, opacity 0.2s ease;
      }
    }
  }
  .archive-item-date {
    float: right;
    text-align: right;
    color: $light-font-secondary-color;

    .dark-theme & {
      color: $dark-font-secondary-color;
    }
  }

  .more-post {
    text-align: right;
  }
}

.categories {
  h3 {
    display: inline-block;
  }
  span {
    float: right;
    padding-right: 1em;
  }
}
