/** light theme **/

$light-background-color: #fff;
$light-background-secondary-color: #ecf0f1;
$light-background-third-color: #eceff1;

$light-font-color: #161209;
$light-font-secondary-color: #a9a9b3;
$light-font-third-color: #333;

$light-navbar-active-color: #161209;

$light-global-link-color: #161209;
$light-global-link-hover-color: #2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color: #ef3982;

$light-pagination-link-color: #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;

$light-navbar-background-color: #fafafa;

/** dark theme **/

$dark-background-color: #292a2d;
$dark-background-secondary-color: #2c3e50;
$dark-background-third-color: #2f3640;
$dark-background-fourth-color: #1a1919;

$dark-font-color: #a9a9b3;
$dark-font-secondary-color: #87878d;
$dark-font-third-color: #f5f6fa;

$dark-navbar-active-color: #fff;

$dark-global-link-color: #a9a9b3;
$dark-global-link-hover-color: #fff;

$dark-post-link-color: #eee;
$dark-post-link-hover-color: #fff;

$dark-pagination-link-color: #a9a9b3;
$dark-pagination-link-active-color: #fff;

$dark-border-color: #4a4b50;

$dark-navbar-background-color: #212121;
