---
import type { Heading } from "./TableOfContents.astro";
import Link from "./Link.astro";

const { heading } = Astro.props;
---

<li>
  <Link 
    href={"#" + heading.slug} 
    underline={false}
    class="block py-0.5 text-xs text-text-muted hover:text-accent transition-colors duration-200 font-mono"
  >
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-3 mt-0.5 space-y-0.5 border-l border-surface-border/30 pl-3">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
