/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
  
.prettyprint {
    background: #2d2d2d;
    font-family: Menlo,Bitstream Vera Sans Mono,DejaVu Sans Mono,Monaco,Consolas,monospace;
    border: 0 !important;
    padding: 12px;
  }
  
  .pln {
    color: $light-font-third-color;
    .dark-theme & {
      color: $dark-font-third-color;
    }
  }
  
  ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: $light-font-third-color;
    .dark-theme & {
      color: $dark-font-third-color;
    }
  }
  
  li {
    &.L0, &.L1, &.L2, &.L3, &.L4, &.L5, &.L6, &.L7, &.L8, &.L9 {
      padding-left: 1em;
      list-style-type: decimal;
    }
  }
  
  @media screen {
    .str {
      color: #9c9;
    }
    .kwd {
      color: #c9c;
    }
    .com {
      color: $light-font-third-color;
      .dark-theme & {
        color: $dark-font-third-color;
      }
    }
    .typ {
      color: #69c;
    }
    .lit {
      color: #f99157;
    }
    .pun, .opn, .clo {
      color: $light-font-color;
      .dark-theme & {
        color: $dark-font-third-color;
      }
    }
    .tag {
      color: #f2777a;
    }
    .atn {
      color: #f99157;
    }
    .atv {
      color: #6cc;
    }
    .dec {
      color: #f99157;
    }
    .var {
      color: #f2777a;
    }
    .fun {
      color: #69c;
    }
  }